# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
.env/
.env*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data 
data/raw/
data/interim/

# Models
models/

# Results
results/examples/

# Optional cache/temp files
*.log
*.tmp